// 颜色定义规范
$color-background: #140B26;

$color-background-b: #1CC3D3;
$color-background-bb: #151221;
$color-highlight-background: rgb(253, 108, 98);
$color-dialog-background: rgb(204, 204, 204);
$color-theme: rgb(212, 68, 57);
//@color-theme-l: rgb(241, 241, 241);
//@color-theme-g: rgb(219, 219, 219);
//@color-theme-d: rgba(19, 19, 19, 0.6);
//@color-sub-theme: rgb(240, 116, 107);
//@color-text: #2E3030;
$color-text-b: #1CC3D3;
$color-text-lb:#8DC9DB;
$color-text-g: #88858E;
$color-text-gg: #1D1C2E;


//字体定义规范
$font-size-small-ss: 9px;
$font-size-small-s: 10px;
$font-size-small: 11px;
$font-size-small-x: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large-s: 17px;
$font-size-large: 18px;
$font-size-large-x: 22px;
